# Environments 
nba_sponsor.venv
test.venv

# Heavy data
Data/images
Data/yolo_dataset
Data/demonstration_video.mp4

# Yolo models
Models/yolo
Models\models_results\modelisation_v5\yolov8x-obb_fine_tuned_v5\weights